                                 body {
                                     font-family: 'helveticaneuecyr-roman-webfont', 'Arial', sans-serif, serif;
                                     line-height: 1.3;
                                 }
                                 
                                 .background-color {
                                     float: left;
                                 }
                             }
                             .team_pic {
                                 height: 165px;
                                 padding-left: 15px;
                                 width: 165px;
                                 display: inline-block;
                                 position: relative;
                                 vertical-align: top;
                                 text-align: center;
                             }
                             .team_pic img {
                                 width: 105px;
                                 margin-top: 25px;