.page-header {
    top: 37px;
    z-index: 1001;
    width: 100%;
    background-color: #efefef;
    border-bottom: 1px solid #cfcfcf;
    height: 75px;
}
.page-header .logo-wrap{
    height: 70%;
}
.top-baner-wrap {
    height: 375px;
    max-width: 1600px;
    background-size: auto 100%;
    padding: 0;
    background-position: 68% 50%;
    width: 100%;
}
.banner-wrap {
    width: 92.5%;
    padding: 0;
    margin: 0 auto;
    min-width: 900px;
    max-width: 1146px;
    position: relative;
    top: 42.5%;
    transform: translateY(-50%);
}
.top-baner-wrap h1 {
    font-size: 51px;
    padding-top: 20px;
    color: #fff;
    font-family: 'dincondensedc', 'Arial', sans-serif, serif;
}
.top-baner-wrap h5 {
    display: block;
    font-size: 18px;
    color: #fff;
    font-family: helveticaneuecyr-light-webfont;
    clear: right;
}
.podr-info {
    width: 100%;
    text-align: justify;
}
.podr-info>div {
    padding-left: 200px;
    padding-top: 36px;
    padding-bottom: 40px;
    padding-right: 200px;
}
.podr-info h1 {
    text-decoration: underline;
    font-weight:bold;
    height: 13px;
}
.podr-info p {
    margin: 40px 0;
    font-size: 19px;
    font-family: helveticaneuecyr-light-webfont;
}
.podr-info ul li {
    margin: 0 0 10px;
    padding: 0 0 0 20px;
    position: relative;
    font-family: unset;
    font-size: 18px;
}
li.first::after{
    background: #ffbb02;
    content: "";
    height: 6px;
    left: 2px;
    position: absolute;
    top: 7px;
    width: 6px;
    border-radius: 50%;
}
hr.bord {
width: 100px;
    border-top: 5px solid #ffffff;
}
td{
    vertical-align:middle;
}
td p{
    padding: 15px 174px 16px 99px;
    text-align: left;
    margin-right: 230px;
    font-size: 16px;
    line-height: 24px;
}
td img{
    padding-left: 200px;

}